#! /bin/bash

##################################
#How to add crontab?
##################################

#Run "crontab -e"
#add "* * * * * /bin/bash /home/user/mizhang/scripts/crontab_test/test.sh", remember to end with new line
#save crontab

##################################
#How to delete crontab emails?
##################################
#run "echo 'd *' | mail -N"


current_date=`date '+%A_%W_%Y_%X'`
touch "/path/scripts/crontab_test/$current_date.txt"
